.screen-view-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  /* border: solid 5px #0000ff; */
}

.screen-view-wrapper .screen-video {
  width: 100%;
}
