.screen-list-header {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: blueviolet;
}

.screen-list-header .header-item {
  margin-left: 2rem;
}
