.screen-list-item {
  margin: 0.5vh 1vw 0vh 1vw;
  padding: 0.7rem 1.1rem 0.9rem 1.1rem;
  border-radius: 8px;
}

.screen-list-item:hover {
  background-color: var(--colorNeutralBackground1Hover);
}

.screen-name {
  padding-bottom: 0.1rem;
}

.screen-description {
  padding-bottom: 0.5rem;
}

.screen-thumbnail {
  height: 35vh;
  min-width: 300px;
}
